argparse~=1.4.0
tweepy~=4.6.0
pandas~=1.1.5
emails~=0.6
numpy~=1.19.5
requests~=2.27.1
bs4~=0.0.1
beautifulsoup4~=4.11.2
colorama~=0.4.4
sniffer~=0.4.1
networkx~=2.5.1
pinject~=0.14.1
IP2Proxy~=3.4.0
oauthlib~=3.2.2
scapy~=2.4.5
termcolor~=1.1.0
tk~=0.1.0
PyQRCode~=1.2.1
domain~=0.1.4
replace~=2020.12.3
boto~=2.49.0
proxylist~=0.1.4
setuptools~=28.8.0
Django~=3.2.18
future~=0.18.2
urllib3~=1.26.13
username~=2.1.0
decorator~=4.4.2
Twisted~=21.2.0
typing~=3.7.4.3
tools~=0.1.9
rich~=12.6.0